.cta-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.sub-cta,
.sub-action {
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sub-cta {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sub-action {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
  cursor: pointer;
}

.left-arrow {
  padding-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cta-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sub-cta,
  .sub-action {
    width: 100%;
  }

  .sub-cta {
  }

  .sub-action {
    padding: 1rem 0;
  }
}
