.navbar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
  max-width: 1440px;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.contact {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.contact:focus {
  outline: none;
  box-shadow: none;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.menu > li {
  padding-bottom: 0.5rem;
}

.menu > li > a {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
