.container {
  padding-right: 5rem;
  padding-left: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
